<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Rule Editor</title>
  <!-- from main.css of cr-vue/codes/turorial-todo -->
  <!--<link rel="stylesheet" href="./main.css">-->
  <style type="text/css">
* {
  box-sizing: border-box;
}
#app {
  max-width: 640px;
  margin: 0 auto;
}
.table1 {
  width: 100%;
  border-collapse: separate;
}
.table1 td {
  border: 1px solid gray;
}
button {
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 0 8px;
  background: #0099e4;
  color: #fff;
  cursor: pointer;
}
.select1 {
  width: 50px;
  font-size: 18px;
}
  </style>
<!-- from main.js of cr-vue/codes/turorial-todo -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
</head>
<script src="/nGrimm021.js"></script>
<body>
  <div id="app">
    <div>
      <select class="select1"
        v-model.number="section"
        v-on:change="handleSelect(section, $event)">
        <option disabled="disabled">選択して下さい</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
      </select>
    </div>
    <div>
      <H3>{{ story[section].subtitle }}</H3>
      <p>{{ story[section].paragraph }}</p>
    </div>
    <div>
      <table class="table1">
        <tr>
          <th width="10">MSG</th>
          <td width="90%" 
              v-if="focus != 0" 
              v-on:dblclick="inputMessage(0)">{{ message[0] }}</td>
          <td width="90%" v-else>
            <input type="text" size="78" 
              v-bind:value="message[0]" 
              v-on:blur="updateMessage($event)">
          </td>
        </tr>
      </table>
      <table class="table1">
        <tr>
          <th width="10%" rowspan="2">1</th>
          <th width="5%">Q</th>
          <td width="85%"
              v-if="focus != 1" 
              v-on:dblclick="inputMessage(1)">{{ message[1] }}</td>
          <td width="85%" v-else>
            <input type="text" size="74" 
              v-bind:value="message[1]" 
              v-on:blur="updateMessage($event)">
          </td>
        </tr>
        <tr>
          <th>A</th>
          <td width="85%"
              v-if="focus != 2" 
              v-on:dblclick="inputMessage(2)">{{ message[2] }}</td>
          <td width="85%" v-else>
            <input type="text" size="74" 
              v-bind:value="message[2]" 
              v-on:blur="updateMessage($event)">
        </tr>
        <tr>
          <th rowspan="2">2</th>
          <th>Q</th>
          <td width="85%"
              v-if="focus != 3" 
              v-on:dblclick="inputMessage(3)">{{ message[3] }}</td>
          <td width="85%" v-else>
            <input type="text" size="74" 
              v-bind:value="message[3]" 
              v-on:blur="updateMessage($event)">
        </tr>
        <tr>
          <th>A</th>
          <td width="85%"
              v-if="focus != 4" 
              v-on:dblclick="inputMessage(4)">{{ message[4] }}</td>
          <td width="85%" v-else>
            <input type="text" size="74" 
              v-bind:value="message[4]" 
              v-on:blur="updateMessage($event)">
        </tr>
        <tr>
          <th rowspan="2">3</th>
          <th>Q</th>
          <td width="85%"
              v-if="focus != 5" 
              v-on:dblclick="inputMessage(5)">{{ message[5] }}</td>
          <td width="85%" v-else>
            <input type="text" size="74" 
              v-bind:value="message[5]" 
              v-on:blur="updateMessage($event)">
        </tr>
        <tr>
          <th>A</th>
          <td width="85%"
              v-if="focus != 6" 
              v-on:dblclick="inputMessage(6)">{{ message[6] }}</td>
          <td width="85%" v-else>
            <input type="text" size="74" 
              v-bind:value="message[6]" 
              v-on:blur="updateMessage($event)">
        </tr>
      </table>
      <table class="table1">
        <tr>
          <th width="10%">NCA</th>
          <td width="90%" 
              v-if="focus != 7" 
              v-on:dblclick="inputMessage(7)">{{ message[7] }}</td>
          <td width="90%" v-else>
            <input type="text" size="78" 
              v-bind:value="message[7]" 
              v-on:blur="updateMessage($event)">
        </tr>
      </table>
    </div>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      section: 1,
      prevsec: 1,
      focus: 8,
      MSG: 'メッセージなし',
      message: ['', '', '', '', '', '', '', ''],
      trainer: localStorage.getItem('trainer'),
      story: Grimm021,
      rules: []
    },
    async mounted() {
      var args = { key: localStorage.getItem('trainer') };
      var res = await this.fetchScript(args);
      //console.log(JSON.stringify(res, null, 2));
      if (res.message != 'success') return;
      this.rules = JSON.parse(res.response);
      console.log("message: ");
      console.log(this.message);
    },
    methods: {
      fetchScript: async function(data) {
        const res = await fetch("/get", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });
        const response = await res.json();
        return(response);
      },
      handleSelect: function(sec, event) {
        console.log("# handleSelect");
        //console.log("sec: "+sec);
        console.log("section: "+this.section);
        console.log("prevsec: "+this.prevsec);
        this.prevsec = this.section;
      },
      inputMessage: function(id) {
        console.log("# inputMessage");
        console.log("id: "+id);
        this.focus = id;
      },
      updateMessage: function(event) {
        console.log("# updateMessage");
        console.log(event.target.value);
        this.message[this.focus] = event.target.value;
        this.focus = 8;
      }
    }
  });
</script>
</html>